{% extends 'EventBundle::layout.html.twig' %}

{% block body %}
    {{parent()}}
    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('event_new') }}">Create new event</a>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                 
                    <a class="link" href="{{ path('logout') }}">  Logout {{ app.user.username }}   </a>
               
            {% else %}
                <a class="link" href="{{ path('login_form') }}">Login</a>
                <a class="link" href="{{ path('user_register') }}">Register</a>
            {% endif %}
        </header>

        {% for entity in entities %}
            <article>
                <header class="map-container">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
                         &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
                         &markers=color:red%7Clabel:C%7C40.718217,-73.998284
                         &key=AIzaSyA-B377HnaIQT9vtI8JuKYOhFv93V5jkLA" />
                </header>
                <section>
                    <h3>
                        <a href="{{ path('event_show', {'id': entity.id}) }}">{{ entity.name }}</a>
                    </h3>

                    <dl>
                        <dt>where:</dt>
                        <dd>{{ entity.location }}</dd>

                        <dt>when:</dt>
                        <dd>{{ entity.time | date('g:ia / l M j, Y') }}</dd>

                        <dt>who:</dt>
                        <dd>Todo # of people</dd>
                    </dl>
                </section>
            </article>
        {% endfor %}
    </section>
{% endblock %}
